body {
  background: @main-bg;
}

header {
  padding: 0 0 2em;

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;

    p {
      color: #fff;
      font-size: 1.2rem;
      margin: 1.6em auto;
    }

    .hero-btn {
      .button(@header-footer, 10px);
      margin: 2em auto;
    }

    a {
      text-decoration: none;
      margin: 2em;
      width: 80%;
    }

    .hero-btn:hover {
      background: @header-footer;
      color: #fff;
      border: 1px solid #fff;
    }
  }
}
.hero {
  width: 100%;
  background: @main-bg;

  img {
    width: 100%;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
    margin: 3em, 1.5em;
    padding: 1em;
    color: #fff;
  }
}


//  --------------------------  About Section  --------------------------->

section {
  background: @main-bg;
  width: 100%;

  .team-title {
    text-align: center;
    font-size: 3em;
    color: #fff;
    padding-top: 1em;
  }
  
.card {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;

  h2 {
    font-size: 1.4em;
  }

  img {
    border-radius: 50%;
    width: 50%;
    margin: 2em 25%;
    border: 2px solid @header-footer;
  }

  .info {
    width: 70%;
    background: #fff;
    margin: -4.5em auto 2em;
    padding: 4em 3em 1em;
    text-align: center;
    border: 2px solid @header-footer;

    .social {
      width: 100%;
    }

    a i {
      font-size: 1.7em;
      color: @header-footer;
      padding: .2em;
      margin: 0 auto;
    }

    p {
      margin: 1.3em;
    }
  }
}
    article:last-of-type {
      border-bottom: none;
    }

}
